	i{
		font-size: 3em;
	}

	ul{
		list-style-image: 
	}

	/*body{
		background-color: #F0F6FD;
	}
	*/
	.label{
		font-size: 1em;

	}
	.page-header{
		text-align: center;
	}
	.glyphicon{
		font-size: 1em;
	}
	